{% extends 'main/base.html' %}

{% block title %} Findings {% endblock %}
{% block content %}
    <div class="row justify-content-center mx-auto" style="margin-top:20px">
        <div class="col"></div>
        <div class="col">
            <h1> Книги по запросу: {{ query }} </h1>
        </div>
        <div class="col"></div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <ul style="background-color:white">
            <div style="opacity:0"> ....</div>
            {% for book in books %}
                <div class="container" style="background-color:#ededed; border-radius: 15px; margin-top:10px">
                    <div style="opacity:0"> ....</div>
                    <div class="jumbotron" style="margin-left:10px; margin-top:20px; margin-right:10px;">
                        <h3 class="display-6">{{ book.name }} </h3>
                        <div class="row">
                            <div class="col-9">
                                <p class="lead">{{ book.author }} | {{ book.genre }} | {{ book.ranking }}</p>
                            </div>
                            <div class="col">
                                <label>
                                    <input type="checkbox" name="add-to-readlist-{{ book.id }}">
                                    Добавить в ридлист
                                </label>
                            </div>
                        </div>
                        <hr class="my-4">
                        <p>{{ book.description }}</p>
                        <div style="opacity:0"> ....</div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </ul>
        <div class="row container-fluid">
            <div class="col">
                <button type="button" class="btn btn-primary container-fluid" name="create" data-bs-toggle="modal"
                        data-bs-target="#newReadList" style="background-color:#474747">
                    Создать ридлист
                </button>
                <div class="modal fade" id="newReadList" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label>Название: <input type="text" name="readlist_title" value="{{ query }}"></label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить
                                </button>
                                <button type="submit" name="create_readlist" class="btn btn-primary">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="col">
                    <button name="add" type="button" class="btn btn-primary container-fluid"
                            style="background-color:#474747" data-bs-toggle="modal"
                            data-bs-target="#addToReadList">
                        Добавить в существующий ридлист
                    </button>
                    <div class="modal fade" id="addToReadList" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Выберите ридлисты:</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% for list in user.readlist_set.all %}
                                        <label><input type="checkbox" name="add-to-this-readlist-{{ list.id }}"> {{ list.title }}</label>
                                        <br>
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                                    <button type="submit" name="add_to_readlist" class="btn btn-primary">Добавить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                ...
            {% endif %}

        </div>
    </form>
{% endblock %}
